<div class="row">

<div class="span3">&nbsp;</div>
<div class="span7">
	<h2>Add a new table</h2>

	<p>
		Just enter the URL of a table, json file, or HTML file that contains a table.
	</p>

	<form id='querybox' class="form-horizontal"  action='/data/get/' method='POST'>
	<fieldset>
	<div class="control-group">
		<label class="control-label" for="url">Add a URL dataset</label>
		<div class="controls">
			<input id='url' class='input-xlarge' name='url' />
		</div>
	</div>

	<div class="control-group">
		<label class="control-label" for="name">Dataset name</label>	
		<div class="controls">
			<input id='url_name' class='input-xlarge' name='name' />
		</div>
	</div>

	<div class='form-actions'>
		<input type='submit' class="btn btn-primary" id="btn_url" value="Get the data!"/>
	</div>
	</fieldset>
	</form>

</div>
</div>