
<div class="row">
  <div class="span3">
    <h3>
    	Geocoded
   	    <small><a href="#" id="refresh_map">refresh</a></small>
    </h3>

    <div class="tablenames" id='map-tablenames'></div>

    <script type="text/javascript">
    $("#refresh_map").click(function(){
    	$("#map-tablenames").empty();
    	$("#mapdata").empty();
    	$("#corrplot").empty();
    	selectedmaptables = {};
    	mapmarkers.forEach(function(markers) {
    		markers.forEach(function(m) {
    			m.setMap(null);
    		})
    	})
    	mapmarkers = [];
        get_tables('/json/data/loc/', render_map_location_table);
		get_correlations();
    })
    </script>
  </div>
  <div class="span8" id="" >
    <div class="row">
      	<h3>Locations of rows in selected tables</h3>
    	<div id="map_canvas" style="width: 624px; height:500px;"></div>
    </div>
    <div class="row"><div class="span8" id="mapdata"></div></div>
  </div>
  <div class="span7">
  	<h3>Correlations <small id="corrplot_links"></small></h3>
  	<div id="corrplot"></div>
  </div>
</div>